**/target
**/.classpath
**/.project
**/.settings/**
**/classes/**
**/.iml
**/.ipr
**/.iws
**/bin/**
**/logs/**
**/rebel-remote.xml
**/rebel.xml
**/*.jar
*.iml
*.project
.dear
.idea
*.bat
*.bak
*.tmp
*.log
*.war
.DS_Store
c2c-web/src/main/java/test/MockMvcTest.java
c2c-service/@log4j.sql.file@
c2c-service/@log4j.stderr.file@
c2c-web/src/main/java/test/MockServiceTest.java
c2c-web/src/main/java/test/MvcContextControllerScan.java
c2c-web/src/main/resources/spring/applicationContext-copy.xml
