*{
	margin: 0;
	padding: 0;
	font-family: arial;
}

.wrapper{
	width: 850px;
	height: 400px;
	border:1px solid red;
}
.wrapper:after{
	clear: both;
}

.demo {
	float: left;
	width: 200px;
	height: 200px;
	border: 1px solid green;
	margin-right : 10px;
}

input{
	outline: 0;
}

p {
	width: 18px;
	height: 36px;
	border-radius: 13px;
	border: 1px solid red;
}

p:hover:before{
	content: '\E606';
	font-family: iconfont;
	color: #ff5000;
	font-size: 12px;
	border-radius: 13px;
}










